[access]
	inheritFrom = All-Projects
[submit]
[access "refs/*"]
	owner = group user/eggqq007
[access "refs/for/refs/*"]
	label-Code-Review = -2..+2 group user/eggqq007
	label-Verified = -1..+1 group user/eggqq007
	push = group user/eggqq007
	read = group user/eggqq007
	rebase = group user/eggqq007
	removeReviewer = group user/eggqq007
	submit = group user/eggqq007
[access "refs/heads/*"]
	create = group user/eggqq007
	push = +force group user/eggqq007
	pushMerge = group user/eggqq007
	read = group user/eggqq007
[access "refs/tags/*"]
	push = group user/eggqq007
	push = +force group user/eggqq007
